/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html{
	background-color: #25998C;
}

body{
	width: 700px;
	margin: 50px auto;
}

h1, p,{
	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

li {
	color: #C8C825;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

a {
	color: #4FDBF5;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

#form{
	background-color: #5F5F5F;
	padding: 50px;
	float:left;
	margin: 30px;
}